[submodule "contrib/libudfread"]
	path = contrib/libudfread
	url = git://git.videolan.org/libudfread.git
[submodule "3rd_party/freetype2"]
	path = 3rd_party/freetype2
	url = https://github.com/tourettes/freetype2.git
